<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ContactUserCtl</servlet-name>
  	<display-name>ContactUserCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.air.line.ticket.controller.ContactUserCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAdminPwdCtl</servlet-name>
  	<display-name>UpdateAdminPwdCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.air.line.ticket.controller.UpdateAdminPwdCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContactUserCtl</servlet-name>
  	<url-pattern>/ContactUserCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdminPwdCtl</servlet-name>
  	<url-pattern>/UpdateAdminPwdCtl</url-pattern>
  </servlet-mapping>

 
 
  
  <welcome-file-list>
  <welcome-file>IndexCtl</welcome-file>
  </welcome-file-list>
</web-app>
